@import url(css/fonts.css);


/* css variables */ 

/* import global styling */ 
@import url(css/partials/_global.css);
:root {
	--primary-color: #0a5fbe;
	--secondary-black: #000000;
	--secondary-gray: #48464b;
	--body-bg: #efebfa;
}
section .h1-title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
	color: #0a5fbe;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .h1-title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #0a5fbe;
    transform: translateX(-50%);
}
section .h1-title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    transform: translateX(-50%);
}
/* global styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Poppins';
}
html {
	font-family: 'Roboto Mono';
	font-size: 10px;
	scroll-behavior: smooth;
}
body {
	background-color: var(--body-bg);
}
img {
	width: 100%;
	height: 100%;
}
a {
	color: black;
	text-decoration: none;
}
.content {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}
p {
	font-size: 1.6rem;
	color: var(--secondary-black);
}
.section-heading {
	font-size: clamp(2rem, 10vw, 8rem);
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
	margin-bottom: 10rem;
}
.section-heading::before {
	content: attr(data-outline);
	position: absolute;
	left: 2%;
	top: -20%;
	width: 100%;

	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 0.2rem;

	color: transparent;
	/* -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.103); */
	-webkit-text-stroke: 1.5px #5a24ed2f;
	z-index: -1;
}
.buttons {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
}
.primary-btn {
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	font-size: 1.8rem;
	padding: 0.6em 1.6em;
	border-radius: 50px;
}
.buttons .primary-btn.outline {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}
.buttons svg {
	width: 50px;
	color: var(--primary-color);
}

/* scroll Top/Up Button */
.scroll-top {
	z-index: 100;
	height: 60px;
	width: 60px;
	background-color: #0a5fbe;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0px 0px 20px rgba(11, 10, 14, 0.226);
	/* hover effect default */
	transform: scale(0.9);
	transition: 0.3s ease-in-out transform;
	/* for centering the icon */
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
}

.scroll-top svg {
	width: 50%;
	color: white;
	pointer-events: none;
}

.scroll-top:hover {
	transform: scale(1);
}

/* Navigation Section */
#navigation {
	position: fixed;
	right: 50px;
	height: auto;
	top: 20px;
	z-index: 100;
}
#navigation .nav-icon {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-right: 0;
	cursor: pointer;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
#navigation .nav-icon svg {
	width: 80%;
	color: white;
}
#nav-content {
	position: fixed;
	right: 0;
	width: 80%;
	max-width: 800px;
	height: 100%;
	z-index: 100;
	background-color: var(--secondary-black);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: translateX(100%);
	transition: 0.3s ease transform;
}
#nav-content.show {
	transform: translateX(0);
	box-shadow: -6px 0px 29px 7px #000000a3;
}
#nav-content .section-heading {
	text-align: left;
}
#nav-content .section-heading::before {
	content: 'Menu';
	text-align: left;
	-webkit-text-stroke: 1.5px #afadad25;
}
#nav-content .wrapper {
	width: 70%;
	position: relative;
}
#nav-content ul {
	list-style: none;
	text-align: left;
}
#nav-content ul li {
	margin-bottom: 2rem;
}
#nav-content ul li a {
	display: inline-block;
	width: 100%;
	color: white;
	font-size: 5rem;
    text-decoration: none;
	font-family: 'Montserrat';
	/* position: relative; */
}
#nav-content ul li a::after {
	content: attr(data-text);
	pointer-events: none;
	position: absolute;
	right: -150px;
	bottom: 30%;
	width: 100%;
	color: transparent;
	-webkit-text-stroke: 1.5px #afadad25;
	opacity: 0;
	transition: 0.3s ease;
	transition-property: opacity, transform;
	z-index: -1;
	text-align: center;
	transform: rotate(90deg) scale(3);
}
#nav-content ul li a:hover::after {
	opacity: 1;
	transform: scale(3) translateY(10px) rotate(90deg);
}
#nav-content .close-btn {
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
	width: 40px;
	height: 40px;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s ease background-color;
}
#nav-content .close-btn:hover {
	background-color: crimson;
}
#nav-content .close-btn svg {
	width: 80%;
}
@media only screen and (max-width: 768px) {
	#navigation {
		right: 10px;
		top: 10px;
	}
	#nav-content nav ul li a::after {
		display: none;
	}
	#nav-content .section-heading {
		text-align: right;
		margin-bottom: 5rem;
	}
	#nav-content .section-heading::before {
		text-align: right;
	}
	#nav-content nav ul {
		text-align: right;
	}
	#nav-content nav ul li a {
		font-size: 2.5rem;
	}
	#nav-content .wrapper {
		width: 90%;
	}
}

@media only screen and (max-width: 1095px) {
    #nav-content ul li a {
        font-size: 30px;
    }
}
@media only screen and (max-width: 1530px) {
    #nav-content ul li a {
        font-size: 30px;
    }
}
#home-section .content_section {
    display: flex;
    background: #102740;
    height: 110vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
#home-section .content_section .content {
    display: flex;
	align-items: center;
	justify-content: center;
}
#home-section .content_section .content .info-home{
    flex: 6;
}
#home-section .content_section .content .logo-content{
    flex: 8;
}
#home-section .content_section .content .info-home .name-is{
    text-align: left;
    color:#0a5fbe;
	flex: 1;
    font-size: 30px;
    margin-bottom: 18px;
}
#home-section .content_section .content .info-home .Iam{
    font-size: 30px;
    color:#0a5fbe;
    margin-bottom: 40px;
	flex: 1;
    margin-top: 20px;
}
#home-section .content_section .content .info-home .Iam span{
    color: white;
    font-size: 30px;
}
#home-section .content_section .content .info-home a{
    color: white;
    border-radius: 6px;
    background: #0a5fbe;
    border: 1px solid #0a5fbe;
    margin-bottom: 13px;
    padding: 10px 16px;
    transition: all 0.8s ease;
    text-decoration: none;
    font-size: 22px;
    font-weight: 340;
    box-shadow: black;
}
#home-section .content_section .content .info-home a:hover {
    color: #0a5fbe;
    background: none;
    
}
#home-section .content_section .content .info-home h1 {
    font-size: 36px;
    font-weight: 600;
}
@media only screen and (max-width: 768px) {
	html {
		font-size: 9px;
	}
	#home-section .content {
		flex-direction: column-reverse;
	}
    #home-section .logo-content {
        text-align: center;
		flex: 1;
		margin-bottom: 2px;
    }
    #home-section .info-home {
        text-align: center;
		padding-right: 0;
		flex: 1;
		height: fit-content;
    }

    .logo-content img {
        margin-top: 20px;
        width:100%;
        height: 90%;
    }
    #home-section .content_section .content .info-home .name-is,
    #home-section .content_section .content .info-home .Iam,
    #home-section .content_section .content .info-home .Iam span {
      font-size: 25px;
      text-align: center;
    margin-bottom: 23px;
    margin-top: 14px;
    }
    #home-section .content_section .content .info-home .Iam
    {        margin-bottom: 40px;
    }
    #home-section .content_section .content .info-home a{
        font-size: 17px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
	.content .info-about-me p {
		font-size: 12px;
		
	}
}
@media only screen and (max-width:282px) {
	section {
		width: 100%;
	}
}
#services-section {
	height: fit-content;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
	background: #112030;
	padding: 100px 0;
}
#services-section .content .h1-title::after {
	content: "what I provid";
	background: #112030;
	color: white;	
}

#services-section .content .services- .card {
	padding: 2rem;
	transition: 0.8s all ;
	border-radius: 12px;
	margin-top: 90px;
	margin-left: 10px;
	margin-right: 10px;

	display: inline-block;
	flex: 1;
	background: #152e4c;
}
#services-section .content .all-items{
	display: flex;
	width: 100%;
	justify-content: center;

}
#services-section .content .services- .card .box img{
	width: 50px;
	height: 50px;
	margin-bottom: 1.5rem;

}
#services-section .content .services- .card .box text {

	font-weight: 500;
	font-size: 2rem;
	/* text-transform: uppercase; */
	
	margin-bottom: 1.5rem;
	font-family: 'Poppins';
}
#services-section .content .services- .card .box p {
	color: white;
	opacity: 51%;
	font-weight: 400;
}
#services-section .content .serv .card:hover .box{
    transform: scale(1.05);
    border-radius: 10px;
}
#services-section .content .serv .box img:hover{
    border-color: #fff;
}
@media only screen and (max-width: 328px) {
	section {
		height: fit-content;
		width: fit-content;
	}
	#services-section .content .h1-title::after {
		font-size: 13px;
	}

}


#services-section .item {
	padding: 1.5rem;
	background-color: #152e4c;
	margin-left: 10px;
	transition: 0.3s ease-in-out background-color;
	border-radius: 12px;
	flex: 1;
}
#services-section .item:nth-child(1):hover {
	background-color: #152e4c;
}
#services-section .item:nth-child(2):hover {
	background-color: #152e4c;
}
#services-section .item:nth-child(3):hover {
	background-color: #152e4c;
}
#services-section .item:nth-child(4):hover {
	background-color: #152e4c;
}
#services-section .item .icon {
	width: 50px;
	height: 50px;
	padding: 0.8rem;
	background-color: #0a5fbe;
	border-radius: 50%;
	margin-bottom: 1rem;
}
#services-section .item-heading {
	font-weight: 500;
	font-size: 2rem;
	/* text-transform: uppercase; */
	margin-bottom: 1.5rem;
	font-family: 'Poppins';
}
#services-section .item-desc {
	color: var(--secondary-gray);
}
#services-section .item:nth-child(1) .icon {
	background-color: #0a5fbe
}
#services .item:nth-child(2) .icon {
	background-color: #0a5fbe
}
#services-section .item:nth-child(3) .icon {
	background-color: #0a5fbe;
}
#services-section .content .all-items {
	padding-top: 60px;
}
#services-section .content .all-items .item p {
	color: white;
	opacity: 51%;
	font-weight: 300;
}
@media only screen and (max-width: 768px) {
	#services-section .all-items {
		flex-direction: column;
		text-align: center;
	}
	#services-section .item .icon {
		margin: 0 auto;
		margin-bottom: 1rem;
	}
	#services-section .item {
		margin: 2rem 0;
	}

}
@media only screen and (max-width: 840px) {
	#services-section .all-items {
		flex-direction: column;
		text-align: center;
	}
	#services-section .item .icon {
		margin: 0 auto;
		margin-bottom: 1rem;
	}
	#services-section .item {
		margin: 2rem 0;
	}

}

#portfolio-section{
	height: fit-content;
	color: #fff;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
	background: #102740;
	padding: 100px 0;
}
#portfolio-section .content .h1-title::after {
	content: "Our Latest Projects";
	background: #102740;
	color: white;	
	font-size: 16px;
}
#portfolio-section .content .container {
	padding-top: 70px;
}
#portfolio-section .content .container .button-group{
	text-align: center;
	margin-bottom: 50px;
}
.project-area .button-group button{
    background: transparent;
    color: #909090;
    border: none;
    outline: none;
	font-size: 17px;
    text-align: center;
    transition: 0.9s ease all;
}
.project-area .button-group button:hover {
    color: white;
}
.project-area .button-group button + button{
    padding-left: 3rem;
}

.project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}
.row {
	font-size: 16px;
}



.project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px black);
}

@media only screen and (max-width: 264px) {
	#portfolio-section .content .h1-title::after{
		font-size: 12px;
		padding-bottom: 3px;
	}
	.project-area .button-group button {
		font-size: 10px;

	}
	.project-area .button-group  {
		text-align: left;
		
	}
}
@media only screen and (max-width: 279px) {
	#portfolio-section .content .h1-title::after{
		font-size: 11px;
		padding-bottom: 3px;
	}
	.project-area .button-group button {
		font-size: 10px;

	}
	.project-area .button-group  {
		text-align: left;
		
	}
}
@media only screen and (max-width: 354px) {
	.project-area .button-group button {
		font-size: 	10px;

	}
	.project-area .button-group  {
		text-align: left;
		
	}
}
@media only screen and (max-width: 286px) {
	#portfolio-section .content .h1-title::after{
		font-size: 11px;
		padding-bottom: 3px;
	}
	.project-area .button-group button {
		font-size: 10px;

	}
	.project-area .button-group  {
		text-align: left;
		
	}
}
@media only screen and (max-width: 768px) {
	#contact .wrapper {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	#contact .right {
		width: 100%;
	}
}

#contact{
	height: fit-content;
	color: #fff;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
	background: #112030;
	padding: 100px 0;
}
#contact .container .h1-title::after {
	content: "git in Touch";
	background: #112030;
	color: white;	
	font-size: 16px;
}
#contact .wrapper .left h2 {
	font-size: 30px;
	font-weight: 545;
}
#contact .wrapper .left p {
	color: white;
	opacity: 51%;
	font-weight: 300;
}
#contact .wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 5rem;
	padding-top: 8%;
}
#contact .wrapper .left {
	flex: 1;
}
#contact .wrapper .right {
	flex: 1;
}
#contact .left .contact-heading {
	font-family: 'Montserrat';
	font-size: 3rem;
	margin-bottom: 1rem;
}
#contact .left .contact-desc {
	color: var(--secondary-gray);
	margin-bottom: 4rem;
}
#contact .left .contact-info {
	margin-bottom: 5rem;
}
#contact .left .contact-info ul {
	list-style: none;
}
#contact .left .contact-info ul li {
	border-radius: 12px;
	overflow: hidden;
}
#contact .left .contact-info ul li a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	font-size: 2rem;
	padding: 1.5rem;
}
#contact .wrapper .left .info {
	display: flex;
}
#contact .wrapper .left .info  .head{
	padding-right: 20px;
	font-weight: 500;	
}
#contact .wrapper .left  .icons .row  {
	padding-bottom: 10px;
}
#contact .wrapper .left .social-info {
	padding-left: 10px;
}
#contact .wrapper .left .social-info ul li a{
	text-decoration: none;
	list-style: none;
}
#contact .wrapper .left  .icons {
	padding-left: 20px;
}
#contact .wrapper .left  .icons .row i {
	padding-top: 3px;
	padding-right: 10px;
}
#contact .wrapper .left .info  .sub-title{
	font-weight: 300;
}
#contact .left .contact-info ul li:hover {
	background-color: var(--primary-color);
}
#contact .left .contact-info ul li:hover .icon {
	color: white;
}
#contact .left .contact-info ul li:hover .text {
	color: white;
}
#contact .left .contact-info ul li a .icon {
	width: 25px;
	color: var(--primary-color);
}
#contact .left .contact-info ul li a .text {
	color: var(--secondary-gray);
}
#contact .left .social-info ul {
	display: flex;
	list-style: none;
	font-size: 2rem;
	gap: 2rem;
}
#contact .left .social-info ul li a {
	color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
	#contact .wrapper {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	#contact .right {
		width: 100%;
	}
}
.right  {
    border-radius: 8px;
    align-items: center;
	width: max-content;
	height: fit-content;
    background:#102740;
    box-shadow: -6px 0px 29px 7px #000000a3;

}
.right form {
	margin-top: 40px;
	margin-left: 40px;
	align-items: center;
}
.right form input{
	height: 100%;
	width: 90%;
	align-items: center;
    resize: vertical;
    border-radius: 6px;
    outline: none;
	font-size: 17px;
    color: #5c6c7c;
    border: 1px #0c1218;
	margin-bottom: 10px;
    padding:12px;
    background: #0c1218;
}
.right form textarea {
	width: 90%;
	height: 250px;
    resize: vertical;
    border: 1px #0c1218;
    font-size: 17px;
    padding: 1rem;
    outline: none;
    color: #5c6c7c;
    background: #0c1218;
    border-radius: 10px;
    }
.right form .button-area  {
	align-items: center;
	padding-bottom: 20px;
}
.right form .button-area button {
    margin-top: 10px;
    color: #fff;
    display: block;
    width: 90%!important;
    height: 45px;
    outline: none;
	align-items: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: all 1s ease ;
	text-align: center;
}
.right form .button-area button:hover {
    background: none;
    color:var(--primary-color);
}

@media only screen and (max-width: 327px) {
	#project-area {
		width: fit-content;
	}
	#footer {
		width: fit-content;
	}
}

#footer {
	height: fit-content;
	color: #fff;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
	background: #152e4c;
	padding: 100px 0;
	text-align: center;
}
#footer h1 {
	font-size: 90px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 20px;
}
#footer h1 span{
	color: #0a5fbe;
}
#footer h5 {
	font-size: 20px;
}
#footer .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

#footer .social a:hover > i{
    color: var(--primary-color);
}
#footer p {
	padding-top: 20px;
	color: #909090;
}

@media only screen and (max-width: 380px) {
	#footer p {
		font-size: 13px;
	}
}